@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #CA3401;
  --color-p_lt15: #D35938;
  --color-p_lt30: #DB7E6F;
  --color-p_lt45: #E4A4A5;

  --color-secondary: #FEFCE8;
  --color-s_dk15: #F3EEAF;
  --color-s_dk30: #E4D86E;
  --color-s_dk45: #D0BD2E;

  --color-accent: #0093B9;
  --color-a_dk15: #007D9E;
  --color-a_dk30: #006782;
  --color-a_dk45: #005167;

  --color-fbright: #FFF6EC;
  --color-fdark: #053244;
}

html {
  font-family: "Special Gothic Condensed One", sans-serif;
  letter-spacing: 1px;
}

.hidden {
  display: none;
}

.worder-input {
  background-color: var(--color-secondary);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.worder-input:focus {
  box-shadow: 0 0 0 2px var(--color-p_lt30);
}

.worder-button {
  background-color: var(--color-p_lt15);
  color: var(--color-fbright);
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  border-bottom: 4px solid var(--color-a_dk45);
  border-radius: 15px;
  transition: all 0.1s ease;
  position: relative;
  top: 0;
}

.worder-button:hover {
  background-color: var(--color-a_dk45);
  border-bottom-color: var(--color-a_dk15);
  cursor: pointer;
}

.worder-button:active {
  background-color: var(--color-p_lt30);
  border-bottom-color: var(--color-a_dk15);
  transform: translateY(2px);
}

.custom-dropdown {
  position: relative;
  user-select: none;
  font-weight: bold;
}

.selected-option {
  background-color: var(--color-secondary);
  color: var(--color-fdark);
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.selected-option:hover {
  background-color: var(--color-a_dk45);
  color: var(--color-fbright);
}

@media (max-width: 600px) {
  .dropdown-options {
    max-height: 200px;
    overflow-y: scroll !important;
  }

  /* Chrome, Edge, Safari */
  .dropdown-options::-webkit-scrollbar {
    width: 4px;
  }

  .dropdown-options::-webkit-scrollbar-thumb {
    background-color: var(--color-a_dk30);
    border-radius: 4px;
  }

  .dropdown-options::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Firefox */
  .dropdown-options {
    scrollbar-width: thin;
    scrollbar-color: var(--color-a_dk30) transparent;
  }
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-secondary);
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
  margin-top: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-options li {
  padding: 5px 10px;
  cursor: pointer;
  color: var(--color-fdark);
}

.dropdown-options li:hover {
  background-color: var(--color-a_dk30);
  color: var(--color-fbright);
}

.alert-success {
  background-color: var(--color-p_lt30);
  color: var(--color-fbright);
}

.alert-error {
  background-color: var(--color-a_dk45);
  color: var(--color-fbright);
}