@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');@import "tailwindcss";

@theme {
    --color-primary: #CA3401;
    --color-p_lt15: #D35938;
    --color-p_lt30: #DB7E6F;
    --color-p_lt45: #E4A4A5;

    --color-secondary: #FFC8C8;
    --color-s_dk15: #D9AAAA;
    --color-s_dk30: #B38C8C;
    --color-s_dk45: #8C6E6E;

    --color-accent: #0093B9;
    --color-a_dk15: #007D9E;
    --color-a_dk30: #006782;
    --color-a_dk45: #005167;

    --color-fbright: #FFF6EC;
    --color-fdark: #053244;
}

html{
    font-family: "Special Gothic Condensed One", sans-serif;
    letter-spacing: 1px;
}

.worder-button {
    background-color: var(--color-accent);
    color: var(--color-fbright);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 4px solid var(--color-a_dk45);
    border-radius: 0.25rem;
    transition: all 0.1s ease;
}
  
.worder-button:hover {
    background-color: var(--color-a_dk45);
    color: var(--color-fbright);
    border-bottom-color: var(--color-a_dk15);
}

.worder-button:active {
    background-color: var(--color-p_lt30);
    border-bottom-width: 2px;
    transform: translateY(2px);
}

.hidden {
    display: none;
}