<div class="flex h-20 bg-primary text-fbright p-2">
    <h1 class="text-6xl font-bold font-family pr-4">
        <a href="/">Worder</a>
    </h1>
    <div
        class="w-px h-full bg-gradient-to-b from-transparent via-secondary to-transparent"
    >
    </div>
    <div class="text-xl pt-4">
        <a class="p-4" href="/words">Add words</a>
    </div>
    <div
        class="w-px h-full bg-gradient-to-b from-transparent via-secondary to-transparent"
    >
    </div>
    <div class="text-xl pt-4">
        <a class="p-4" href="/sentences">Create sentences</a>
    </div>
    <div
        class="w-px h-full bg-gradient-to-b from-transparent via-secondary to-transparent"
    >
    </div>
</div>
